@page "/Details"

<h3>Details</h3>

<div class="text-body">
    Provide details about your virtual Event...
</div>

<p>&nbsp;</p>

<div class="text-body">
    <h5>Division of the Teams</h5>
    <table>
        <thead>
            <tr>
                <th>Team A</th>
                <th>Team B</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <li>
                        <ul>...</ul>
                        <ul>...</ul>
                    </li>
                </td>
                <td>
                    <li>
                        <ul>...</ul>
                        <ul>...</ul>
                    </li>
                </td>
            </tr>
        </tbody>
    </table>
</div>

@code {

}
