@page "/Agenda"
@using WebApp.Models

<h3>Agenda</h3>

<ul>
    @foreach (var AgendaTopic in AgendaTopics)
    {
        <li>@AgendaTopic.Title</li>    
    }
</ul>

<h3>New Agenda Topic</h3>

<input placeholder="New AgendaTopic Title" @bind="newTopic" />
<button @onclick="AddTopic">Add Topic</button>

@code {
    private IList<AgendaTopic> AgendaTopics = new List<AgendaTopic>(); 
    private string newTopic;
    
    private void AddTopic()
    {
        if (!string.IsNullOrWhiteSpace(newTopic))
        {
            AgendaTopics.Add(new AgendaTopic {Title = newTopic});
            newTopic = string.Empty;
        }
    }

}
